<div class="contents">
  <div class="sidebar-left">
  </div>
  <div class="contents-main">
    <div class="upper-field">
      <div class="datetime-field">
      </div>
      <div class="btn">
      </div>
    </div>
    <div class="text-field">
    <%= form_with model: @task, local: true do |form| %>
      <%= form.datetime_field :deadline, {discard_year: true} %>
      <%= form.text_field :task, class: 'form__inputtext', placeholder: "ここにtaskを記載してください" %>
      <%= form.submit '投稿' %>
    <% end %>

    </div>
    <div class="task-field">
      <% @tasks.each do |task| %>
        <div class="content_post">
          <%= task.task %>
          <%= task.deadline%>
          <%= link_to '削除', task_path(task.id), method: :delete %>
        </div>
      <% end %>
    </div>
  </div>
  <div class="sidebar-right">
  </div>
</div>
